## Association Learning

In [3]:
dataset = [['Bread','Milk','Beer'],
          ['Bread','Diapers','Eggs'],
          ['Milk','Diapers','Beer','Cola'],
          ['Bread','Milk','Diapers','Beer'],
          ['Bread','Milk','Cola']]

In [5]:
from mlxtend.preprocessing import TransactionEncoder 
import pandas as pd

te = TransactionEncoder()
te=te.fit(dataset) #reads all unique values in your list
print(te.columns_)
te_ary = te.fit_transform(dataset) #creates a boolean 2d array from dataset
print(te_ary)

['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']
[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]

In [7]:
df = pd.DataFrame(te_ary,columns = te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [9]:
from mlxtend.frequent_patterns import apriori

#finds frequency of items or itemsets
frequent_itemsets = apriori(df, use_colnames = True, min_support = 0.5)
frequent_itemsets

   support       itemsets
0      0.6         (Beer)
1      0.8        (Bread)
2      0.6      (Diapers)
3      0.8         (Milk)
4      0.6   (Milk, Beer)
5      0.6  (Milk, Bread)

In [11]:
from mlxtend.frequent_patterns  import association_rules

#Forming asso rrules amd returning all performances metrics of those asso
rules = association_rules(frequent_itemsets,metric ='support',min_threshold=0.6)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [12]:
rules[rules['confidence']>0.8]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Beer),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [13]:
rules[rules['confidence']>rules['support'].max()]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [14]:
rules[rules['support']>rules['confidence'].max()]

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [26]:
cartItem = ['Milk']

pred = rules[rules['antecedents'].apply(lambda x: set(cartItem).issubset(set(x)))]
pred

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [18]:
rules[rules['antecedents']==set(cartItem)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8